/* main color palette */
:root {
  --cream: #fce488;    
  --accent: #f89c1c;       
  --dark: #6b4f2d;          
  --gray: #333;             
  --white: #fff;           
}

html, body {
    height: 100%;          /* full viewport height */
    margin: 0;             /* remove default spacing */
    display: flex;
    flex-direction: column;
}


body {
    font-family: Arial, sans-serif;
    background: var(--white);
    color: var(--text);
    line-height: 1.5;
}

/* navigation */
nav {
    display: flex; 
    align-items: center;
    background: var(--gray);
    padding: 20px;
    height: 100px;
    border-bottom: 3px solid var(--accent);
}

nav .logo img {
    height: 100px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex; /* instead of top down */
    gap: 20px;
    padding: 20;
    margin: 0;
}

nav ul li a {
    color: var(--cream);
    text-decoration: none;
    padding: 5px 10px;  /* not too squeezed */
    transition: background 0.3s; /* soft and smooth animation */
}

nav ul li a:hover {
    background: var(--accent);
    border-radius: 4px;
}

nav ul li a.active {
    background: var(--accent);
    color: var(--white);
    font-weight: bold;
    border-radius: 4px;
}

/* main content */
main {
    padding: 20px;  
    margin: 20px; 
    border-radius: 8px;
    flex: 1;
}

/* footer */
footer {
    text-align: center;
    background: var(--gray);
    color: var(--cream);
    padding: 10px;
    border-top: 3px solid var(--accent)
}
